.results-container {
  margin-top: 30px;
  max-width: 300px;
  margin: 0 auto;
}

.result-title-container {
  p {
    font-weight: 400;
    font-size: 16pt;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
