.results-container {
  margin-top: 30px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: auto;
}

.result-title-container {
  p {
    font-weight: 400;
    font-size: 16pt;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
