.App-header {
  background-color: #ffffff;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

  .container {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    div p {
      margin: 0;
      color: #222;
      font-size: 16pt;
      font-family: "Fira Sans";
    }
  }
}

.unlam-logo {
  height: 32px;
  width: 124px;
}
