.App-header {
  background-color: #ffffff;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.unlam-logo {
  padding-left: 10px;
  height: 32px;
  width: 124px;
}
