.result {
  /* display: contents; */
  display: flex;
  flex-direction: column;

  background-color: #fefefe;
  border-radius: 4px;
  padding: 20px;
  transition: 400ms ease-in-out;

  .result-value-container {
    font-size: 48px;
    font-family: "Fira Sans";
    color: #047ccc;
  }

  .result-description-container {
    font-family: "Fira Sans";
    font-weight: 300;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 400ms ease-in-out;
    cursor: default;
  }
}
