.result {
  /* display: contents; */
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  background-color: #fefefe;
  border-radius: 4px;
  padding: 20px;
}

.result-value-container {
  font-size: 120px;
  color: #222;
}
