.footer {
  height: 50px;
}
.contenedor {
  border-radius: 6px;
  max-width: 800px;
  padding: 20px;
  margin: 20px auto;
  margin-top: 20px;
  background-color: rgba(4, 124, 204, 0.2);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

input {
  width: 100%;
  background-color: white;
  border: none;
  border-radius: 6px;
  padding: 6px;
  cursor: default;
  font-size: 12pt;
  height: 30px;
}
input:focus {
  /* background-color: black; */
  outline: none;
  /* background-color: rgb(146, 210, 226); */
}

.label {
  /* text-align: center; */
  position: relative;
  top: -20px;
  padding-right: 50px;
}
